.names {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

/* Tooltip CSS */

.d3-tip {
  line-height: 1.5;
  font-weight: 400;
  font-family: "avenir next", Arial, sans-serif;
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFA500;
  border-radius: 1px;
  pointer-events: none;
}

.details {
  color: white;
}